<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
    <div class="container-fluid">
        <%= link_to  "ZEOS", root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <%= render partial: 'layouts/shared/menus/cadastros' %>
                <%= render partial: 'layouts/shared/menus/solicitacoes' %>
                <%= render partial: 'layouts/shared/menus/gerenciais' %>
                <%= render partial: 'layouts/shared/menus/relatorios' %>
                <%= render partial: 'layouts/shared/menus/administrativo' %>
            </ul>
            <ul class="navbar-nav d-flex mb-2 mb-md-0">
                <%= render partial: 'layouts/shared/menus/user' %>
            </ul>
        </div>
    </div>
</nav>